html {
  font-family: 'Recursive', sans-serif;
}
body {
  background-color: #313131;
  padding-top: 40px;
}
nav {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  margin-left: 10%;
  margin-right: 10%;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  height: 40%;
  background-color: #ca3e47;
  color: whitesmoke;
}
input {
  font-family: 'Recursive', sans-serif;
}
tr {
  padding: 0px;
}
td {
  padding: 1px;
}
#barchart-container {
  position: relative;
  background-color:#525252;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 10%;
  margin-right: 10%;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  padding: 25px;
  overflow: auto;
}
#create-chart-button {
  padding-top: 15px;
  display: grid;
  margin-left: 40%;
  width: 20%;
  grid-auto-flow: column;
}
#data-table {
  width: 100%;
}
#options-table {
  width: 100%;
}
#data-input {
  place-self: center;
  width: 100%;
}
#create-barchart {
  background-color: #ca3e47; /* Green */
  color: white;
  padding: 5px;
  text-align: center;
  display: grid;
  grid-auto-flow: column;
}
#option-labels {
  font-size: small;
}
#x-axis-label {
  position: relative;
  left: 50%;
  display: none;
}
#y-axis-label {
  position: sticky;
  writing-mode: vertical-rl;
  text-orientation: upright;
  position: -webkit-sticky;
  display: none;
  top: 20%;
}
.option-input {
  width: 100%;
  font-size: small;
}
.option-select {
  width: 120px;
}
.bar {
  padding-left: 2px;
  display: table;
  vertical-align: middle;
}
.info-cell {
  padding-bottom: 1px;
}
.options-label {
  text-align:center;
}
